.version.about_us /* version checker */
{
	color: #000008;
	background-color: #A40ADA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 615px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

#pu4463
{
	width: 0.01px;
	padding-bottom: 46px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u4463
{
	z-index: 39;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #E61414;
	position: fixed;
	top: 0px;
}

#u4463-bw
{
	z-index: 39;
}

#u4464
{
	z-index: 40;
	height: 38px;
	border-color: #000000;
	position: fixed;
	top: 8px;
	background: #FFFFFF url("../images/menu%20bg.jpg") no-repeat center bottom;
	background-size: cover;
}

#u4464-bw
{
	z-index: 40;
}

#pamphletu5535
{
	z-index: 2;
	width: 0.01px;
	height: 35px;
	padding-bottom: 513px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: -101px;
}

#u5543
{
	position: absolute;
	width: 1162px;
	background-color: transparent;
	top: 54px;
}

#u5543popup
{
	z-index: 3;
}

#u5544
{
	z-index: 4;
	width: 1162px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#pu5597
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu5545-7
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 42px;
	z-index: 2;
	padding-bottom: 182px;
}

#u5545-7
{
	z-index: 6;
	width: 1136px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF3C3C;
	line-height: 28px;
	text-align: justify;
	letter-spacing: 3px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5549
{
	z-index: 13;
	width: 1162px;
	height: 495px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#pu5583
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5597,#u5583
{
	z-index: 0;
	width: 1161px;
	opacity: 0.18;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
	filter: alpha(opacity=18);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../images/img_2817.jpg") no-repeat center center;
	background-size: cover;
}

#pu5550-13
{
	width: 0.01px;
	position: relative;
	left: 14px;
	padding-top: 40px;
	z-index: 2;
	padding-bottom: 64px;
}

#u5550-13
{
	z-index: 15;
	width: 1133px;
	min-height: 375px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF3C3C;
	line-height: 28px;
	text-align: justify;
	letter-spacing: 3px;
	font-size: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u5536
{
	z-index: 28;
	width: 1012px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 117px;
}

#u5539
{
	position: absolute;
	width: 572px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	top: -7px;
	left: 471px;
}

#u5539:hover
{
	border-color: #999999;
	width: 572px;
	min-height: 0px;
	margin: 0px;
}

#u5539.PamphletThumbSelected
{
	border-color: #999999;
	width: 572px;
	min-height: 0px;
	margin: 0px;
}

#u5590-4
{
	z-index: 30;
	width: 528px;
	min-height: 20px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: center;
	letter-spacing: 13px;
	font-size: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 12px;
}

#u5539:hover #u5590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 528px;
	margin: 6px -10000px 0px 0px;
}

#u5539.PamphletThumbSelected #u5590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 528px;
	margin: 6px -10000px 0px 0px;
}

#u5539:hover #u5590-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u5537
{
	position: absolute;
	width: 580px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	top: -7px;
	left: -117px;
}

#u5537:hover
{
	border-color: #999999;
	width: 580px;
	min-height: 0px;
	margin: 0px;
}

#u5537.PamphletThumbSelected
{
	border-color: #999999;
	width: 580px;
	min-height: 0px;
	margin: 0px;
}

#u5538-4
{
	z-index: 35;
	width: 347px;
	min-height: 20px;
	background-color: transparent;
	color: #ED1C24;
	line-height: 29px;
	text-align: center;
	letter-spacing: 13px;
	font-size: 21px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 116px;
}

#u5537:hover #u5538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 347px;
	margin: 5px -10000px 0px 0px;
}

#u5537.PamphletThumbSelected #u5538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 347px;
	margin: 5px -10000px 0px 0px;
}

#u5537:hover #u5538-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u5539.PamphletThumbSelected #u5590-4 p,#u5537.PamphletThumbSelected #u5538-4 p
{
	color: #ED1C24;
	visibility: inherit;
	font-size: 21px;
	letter-spacing: 13px;
	line-height: 1.4;
}

#menuu5600
{
	z-index: 41;
	width: 945px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 9px;
	right: 0px;
}

#u5636
{
	width: 86px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5637
{
	width: 86px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5637:hover
{
	background-color: #FFFFFF;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u5638-4
{
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 21px;
}

#u5637:hover #u5638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u5637.MuseMenuActive #u5638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u5637:hover #u5638-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5643
{
	width: 91px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u5646
{
	width: 91px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5646.MuseMenuActive
{
	background-color: transparent;
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u5648-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 21px;
}

#u5646:hover #u5648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u5646.MuseMenuActive #u5648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u5646:hover #u5648-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5629
{
	width: 110px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u5632
{
	width: 110px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5635-4
{
	width: 68px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 21px;
}

#u5632:hover #u5635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u5632.MuseMenuActive #u5635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u5632:hover #u5635-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5622
{
	width: 128px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u5625
{
	width: 128px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5625:hover
{
	background-color: #FFFFFF;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u5626-4
{
	width: 86px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 21px;
}

#u5625:hover #u5626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5625.MuseMenuActive #u5626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u5625:hover #u5626-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5650
{
	width: 110px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u5667
{
	width: 110px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5632:hover,#u5667:hover
{
	background-color: #FFFFFF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u5670-4
{
	width: 55px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 20px;
}

#u5667:hover #u5670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u5667.MuseMenuActive #u5670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u5667:hover #u5670-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5668
{
	z-index: 72;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 75px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5667:hover #u5668
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5667.MuseMenuActive #u5668
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5651
{
	width: 153px;
	background-color: transparent;
	top: 35px;
}

#u5652
{
	width: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u5660
{
	width: 153px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
}

#u5663
{
	width: 152px;
	border-color: #777777;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u5663:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u5664-4
{
	width: 127px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 9px;
}

#u5663:hover #u5664-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u5663.MuseMenuActive #u5664-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u5663:hover #u5664-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u5653
{
	width: 153px;
	background-color: transparent;
	position: relative;
}

#u5654
{
	width: 153px;
	border-color: #777777;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u5654:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 152px;
	min-height: 0px;
	margin: 0px -10001px -1px 0px;
}

#u5656-4
{
	width: 51px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u5654:hover #u5656-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u5654.MuseMenuActive #u5656-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u5654:hover #u5656-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u5601
{
	width: 137px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 535px;
}

#u5604
{
	width: 137px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5604:hover
{
	background-color: #FFFFFF;
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u5606-4
{
	width: 96px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 20px;
}

#u5604:hover #u5606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5604.MuseMenuActive #u5606-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u5604:hover #u5606-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5608
{
	width: 161px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u5609
{
	width: 161px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5609:hover
{
	background-color: #FFFFFF;
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u5611-4
{
	width: 120px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 20px;
}

#u5609:hover #u5611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u5609.MuseMenuActive #u5611-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u5609:hover #u5611-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5615
{
	width: 108px;
	min-height: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 837px;
}

#u5616
{
	width: 108px;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
}

#u5616:hover
{
	background-color: #FFFFFF;
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u5617-4
{
	width: 67px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: chivo, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 20px;
}

#u5616:hover #u5617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u5616.MuseMenuActive #u5617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u5616:hover #u5617-4 p
{
	color: #E61414;
	visibility: inherit;
}

#u5637.MuseMenuActive #u5638-4 p,#u5646.MuseMenuActive #u5648-4 p,#u5632.MuseMenuActive #u5635-4 p,#u5625.MuseMenuActive #u5626-4 p,#u5667.MuseMenuActive #u5670-4 p,#u5663.MuseMenuActive #u5664-4 p,#u5654.MuseMenuActive #u5656-4 p,#u5604.MuseMenuActive #u5606-4 p,#u5609.MuseMenuActive #u5611-4 p,#u5616.MuseMenuActive #u5617-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

