.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

#u6064-4
{
	font-family: chivo-n9, sans-serif;
}

#u6045-4
{
	font-family: chivo-n9, sans-serif;
}

#u6052-4
{
	font-family: chivo-n9, sans-serif;
}

#u6073-4
{
	font-family: chivo-n9, sans-serif;
}

#u6015-4
{
	font-family: chivo-n9, sans-serif;
}

#u6033-4
{
	font-family: chivo-n9, sans-serif;
}

#u6022-4
{
	font-family: chivo-n9, sans-serif;
}

#u6012-4
{
	font-family: chivo-n9, sans-serif;
}

#u6036-4
{
	font-family: chivo-n9, sans-serif;
}

#u6058-4
{
	font-family: chivo-n9, sans-serif;
}

#u6082-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6159-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6094-4,#u6137-4,#u6147-4
{
	font-family: open-sans-n8, sans-serif;
}

#u6091-4,#u6096-4,#u6144-4,#u6092-6,#u6132-6,#u6133-6,#u6134-6,#u6135-4,#u6136-7,#u6138-6,#u6139-4,#u6142-6,#u6140-6,#u6141-4,#u6146-7,#u6148-6,#u6149-4,#u6152-6,#u6150-6,#u6151-4,#u6314-21
{
	font-family: open-sans-n4, sans-serif;
}

#u6314-10,#u6314-12,#u6314-14
{
	font-family: open-sans-n4, sans-serif;
}

